# Archivos de entorno (CRÍTICO: No subir credenciales) [cite: 70, 153]
.env

# Python (Archivos temporales y caché) 
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Docker locales
.docker-compose.override.yml

# Archivos de sistema/SO
.DS_Store
Thumbs.db